/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  background: #fff;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #efefef;
}

.tabs ul.primary li a.is-active {
  background-color: #fff;
}

.tabs ul.primary li.is-active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

#navbar-top {
  background-color: #fff;
}

#navbar-main {
  background-color: #fff;
}

a,
.link {
  color: #0071b3;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #018fe2;
}
.nav-link {
  color: #04427b;
}
.nav-link:hover,
.nav-link:focus {
  color: #a87b00;
}
a:active,
.link:active {
  color: #23aeff;
}

.page-item.active .page-link {
  background-color: #0071b3;
  border-color: #0071b3;
}

.page-link,
.page-link:hover {
  color: #0071b3;
}

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0256b1;
}

.site-footer {
  background: #fff;
}

.site-footer .container {
  background: #fff;
  color: #04427b;
}

.site-footer .content {
  color: #04427b !important; 
}
.site-footer a {
  text-decoration: none;
  color: #04427b !important;
}
.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}


/* -- Custom Element--*/
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.bg-image-full {
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center;
background-size: cover;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}

.dropdown-menu li a  /* Remove underline from links */
  {
    text-decoration: none;
    /* background-color: red; */
  }
.dropdown-menu .active  /* Remove underline from links */
{
  text-decoration: none;
  background-color:#006fba; 
  color: #fff;
}
/* .dropdown-item:hover {
  color: #fff;
  background-color: #006fba;
} */

